*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}


.select-div
{
margin-top: 12px;

}


.contact-label
{
  margin-right: 10px;
}

.contact-item
{
  width: 200px;
}

.item-box-div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  width: 600px;
}

span
{
  color: red;
}

.form-item-box
{
  margin: 0 auto;
}

.delete-btn
{
  color: aqua;
  cursor: pointer;
}

.contact-input
{
  width: 390px;

}

.showData
{
  margin-top: 30px;
  margin-bottom: 80px;
}

.nav-btn
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


label
{
  font-size: large;
}

.text
{
  width: 500px;
}

.text-area
{
  width: 500px;
  height: 100px;
}

option
{
  background-color: #ebebeb;
  color: #575656;
  border: 1px solid #575656;
}

.text-area
{
  background-color: #ebebeb;
  color: #575656;
  border: 1px solid #575656;
}


input
{
  width: 100px;
  height: 30px;
  background-color: #ebebeb;
  color: #575656;
  border: 1px solid #575656;
}
.container
{
  width: 100%;
  display: flex;
  justify-content: center;

}

.form
{
  color: #575656;
  background-color: #ebebeb;
  margin-top: 40px;
  width: 1200px;
  min-height: 900px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;

}

.input-item
{
  display: flex;
  justify-content: left;
}

.form-item
{
  width: 980px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;

}

.btn-save{
  background-color: #428bca;
  border: none;
  width: 90px;
  height: 30px;
  color: #ffff;
  margin-right: 20px;
  cursor: pointer;
}

.next-btn
{
  width: 80px;
  height: 30px;
  border-radius: 12px;
  background-color: #ffff;
  border: 1px solid #212020;
}

.update-btn{
  background-color: #428bca;
  border: none;
  width: 90px;
  height: 30px;
  color: #ffff;
  margin-right: 20px;
  cursor: pointer;
}
.btn-add{
  margin-left: 20px;
  width: 80px;
  height: 30px;
  border-radius: 12px;
  background-color: #ffff;
  border: 1px solid #212020;
}

.file-input-name
{
  width: 200px;
}

.input-network
{
  width: 200px;
}

.ok-btn
{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #55e9d2;
  color: #ffff;
  border: none;
}

.ok-btn:hover
{
  background-color: #2a907b;
  cursor: pointer;
}


