*
{
  margin: 0;
  padding: 0;
}



nav
{
  display: flex;
  justify-content: center;
  background-color: #53b090;

}

ul
{
  display: flex;

}
li
{
  list-style-type: none;
  min-width: 140px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

 li a
{
  text-decoration: none;
  color: #ffff;
   display: block;
   text-align: center;
   height: 100%;
   width: 100%;
   margin-top: 25px;
}

li:hover
{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: 0.4s;
  background-color: #469c46;
}


